@font-face {
  font-family: "BankGothic";
  src: url("../src/assets/font/mehg-font.ttf");
  font-weight: Heavy;
}
@font-face {
  font-family: "BankGothic";
  src: url("../src/assets/font/mehg-font.ttf");
  font-weight: Roman;
}
@font-face {
  font-family: "BankGothic";
  src: url("../src/assets/font/mehg-font.ttf");
  font-weight: Black;
}

body {
  font-family: "BankGothic";
  background-color: #29303c;
}
.text-primary {
  color: #d09821 !important;
}
.text-dark {
  color: #453643;
}
.text-secondary {
  color: #36d399;
}
.btn-success {
  background-color: #36d399 !important;
  border: none;
  /* border-radius: 1.3rem; */
}
.bg-primary {
  background-color: #d09821 !important;
  color: "white";
}
.bg-secondary {
  background-color: #453643 !important;
  color: "white";
}
.bg-dark {
  background-color: #29303c !important;
  color: "white";
}

.card {
  background-color: #212529 !important;
  color: white;
}
.card-subtitle {
  font-size: 1.5rem !important;
  color: #d09821 !important;
}
.card-title {
  font-size: 2.5rem !important;
  color: #d09821 !important;
}
.nav-bar-bg {
  background: rgb(69, 54, 67);
  background: linear-gradient(180deg, rgba(69, 54, 67, 1) 0%, rgba(208, 152, 33, 1) 100%);
  color: white !important;
}
.nav-bar-bg .nav-link {
  color: white !important;
}

.bg-warning {
  background-color: #fcbd22 !important;
}

.bg-secondary {
  background-color: #36d399 !important;
}

.title-with-pill {
  font-size: 1.5 rem !important;
}

.cursor {
  cursor: pointer;
}
